body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
    margin: 32px auto auto auto;
    text-align: center;
}
h3 {
    font-size: 32px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
nav section {
    display: flex;
    margin: 0 8px 0 24px;
}
nav p {
    font-size: 32px;
}
nav a {
    padding: 0 16px;
    font-size: 24px;
}
nav a img {
    display: none;}
main {
    background-color: rgb(231, 231, 231);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(80, 80, 80);
}
.container {
    display: flex;
    background-color: rgb(180, 180, 180);
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: 0 24px;
}
.container3 {
    display: flex;
}
.container4 {
    width: 60%;
    margin: 32px 24px 0px 24px;
}
.container5 {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}
.container5 section {
    display: flex;
    padding: 16px 0px;
}
.container5 section img {
    width: 35%;
    height: auto;
    margin: 0 16px;
}
.container5 article {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container5 article h3 {
    margin: 8px 0px;
}
.container5 article p {
    margin: 8px 0px;
}
.container4 img {
    width: 100%;
}
.container2 h1 {
    margin: 0 0 18px 0;
}
.container2 h3 {
    margin: 0 0 18px 0;
}
.container2 button {
    background-color: rgb(80, 80, 80);
    color: white;
}
.container2 button p {
    font-size: 16px;
    margin: 8px 0px;
}
.container img {
    width: 57.5%;
    margin: 32px 24px; 
}
#guest {
    background-color: rgb(180, 180, 180);
}
.container6 {
    display: flex;
    margin: auto 72px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.container7 {
    background-color: white;
    margin: 32px 32px;
    box-sizing: border-box;
    width: 30%;
}
.container7 img {
    width: 100%;
}
.container7 h3 {
    margin: 8px 16px;
}
.container7 p {
    margin: 8px 16px;
}
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 180, 180);
}
#thesis {
    display: flex;
    flex-direction: column;
}
.container8 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px 32px 24px;
}
#thesis2 {
    display: flex;
}
.container9 {
    display: flex;
    padding: 16px 0px;
}
.container9 img {
    width: 35%;
    height: auto;
    margin: 0 16px;
}
.container9 section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container10 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 32px 0px;
}
#fisma {
    background-color: rgb(180, 180, 180);
}
footer {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
}
footer p {
    margin: 16px 24px;
    display: flex;
}
#terms {
    padding: 0px 24px;
}
@media only screen and (max-width: 490px) {
    nav p {display: none;}
    nav span {display: none;}
    nav a img {
        display: inline;
        width: 24px;
        height: 24px;
    }
    nav {
        justify-content: space-around;
    }
    .companies {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    .container img {
        width: 100%;
        margin: 0px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
    .container2 h1 {
        margin: 32px 16px;
    }
    .container2 h3 {
        margin: 0 16px;
    }
    .container2 button {
        width: 95%;
        margin: 24px auto 32px auto;
    }
    h3 {
        font-size: 28px;
    }
}